html * {
    margin: 0;
    padding: 0;
}

nav {
    position: sticky;
    top: 0;
    z-index: 999999;
}

.logo {
    float: left;
    padding: 12px 0 0px 150px;
}

.logo:hover {
    fill: #F84C54;
}

nav ul {
    list-style-type: none;
    padding: 0px 150px 0px 0px;
    height: 60px;
    background: rgb(241, 241, 241);
    text-align: right;
}

nav ul li {
    display: inline-block;
    width: 70px;
    height: 60px;
    line-height: 60px;
    margin: 0px 13px 0px 13px;
    text-align: center;
    position: relative;
}

nav ul li a:hover {
    color: #282828;
    background-color: #FFED00;
    padding: 5px;
}

a {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #282828;
}

.submenu {
    width: 100%;
    top: 60px;
    display: none;
    position: absolute;
    padding: 0;
}

.submenu li {
    display: block;
    width: 70px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    background: #F6F6F6;
    margin: 0;
}

nav ul li:hover .submenu {
    display: block;
}

p {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    margin: auto;
    color: #282828;
}

h1 {
    height: 560px;
}

h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 38px;
    font-weight: 400;
    line-height: 44px;
    text-align: left;
    color: #282828;
    position: absolute;
    top: 350px;
    left: 150px;
}

.listen-button {
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
    background-color: #F84C54;
    color: #ffffff;
    width: 110px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    top: 500px;
    left: 320px;
}

.listen-button:hover {
    background-color: #FFED00;
    color: #282828;
}

h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 260px;
    letter-spacing: 50px;
    -webkit-text-stroke: 5px #FFED00;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

h4 {
    font-family: 'Quicksand', sans-serif;
    font-size: 34px;
    font-weight: 400;
    text-align: center;
    color: #282828;
    position: absolute;
    top: 160px;
    left: 470px;
}

h5 {
    font-family: 'News Cycle', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: #FFED00;
}

#tour {
    max-height: 1300px;
    background: #F6F6F6;
    position: relative;
}

.container-tour {
    padding: 0 10% 0 10%;
    min-height: 350px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.block-tour {
    width: 270px;
    height: 150px;
    margin: 5% 0 5% 0;
}

.block-date {
    height: 150px;
    width: 30%;
    float: left;
    font-family: 'News Cycle', sans-serif;
    font-weight: 700;
    color: #282828;
}

.day {
    height: 50%;
    font-size: 80px;
    line-height: 60px;
    text-align: left;
}

.month-year {
    height: 50%;
    font-size: 36px;
    line-height: 38px;
    text-align: left;
}

.block-location {
    height: 75%;
    width: 65%;
    float: right;
    font-family: 'News Cycle', sans-serif;
}

.city {
    font-size: 26px;
    line-height: 28px;
    font-weight: 700;
    color: #282828;
}

.stadium {
    font-size: 24px;
    line-height: 45px;
    font-weight: 400;
    color: #282828;
}

.block-tickets {
    height: 25%;
    width: 68%;
    float: right;
}

.tickets-button {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #F84C54;
    width: 100px;
    border-radius: 5px;
    border: 3px solid #F84C54;
    padding: 5px;
    float: right;
}

.tickets-button:hover {
    color: #F6F6F6;
    width: 100px;
    border-radius: 5px;
    border: 3px solid #F84C54;
    background: #F84C54;
}

.soldout-button {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #9D9D9C;
    width: 100px;
    border-radius: 5px;
    border: 3px solid #9D9D9C;
    padding: 5px;
    float: right;
}

.soldout-button:hover {
    color: #F6F6F6;
    width: 100px;
    border-radius: 5px;
    border: 3px solid #9D9D9C;
    background: #9D9D9C;
}

.see-more {
    padding: 2% 10% 5% 10%;
    text-align: center;
}

.see-more a {
    color: #F84C54;
    font-weight: 700;
}

#we-are {
    background-image: linear-gradient(#F88846, #F84C54);
    height: 1000px;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin: auto;
    color: #282828;
    position: relative;
}

.we-are li {
    width: 25%;
    min-width: 150px;
    height: auto;
    text-align: center;
    line-height: 20px;
    padding: 30px;
    margin: 5px;
    display: inline-block;
}

@keyframes us-animated {
    0% {
        width: 270px;
    }
    50% {
        transform: rotate(2deg);
    }
    100% {
        width: 270px;
    }
}

.animation {
    animation-name: us-animated;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#music {
    height: 1900px;
    background: #F6F6F6;
    font-family: 'News Cycle', sans-serif;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    margin: auto;
    color: #FFED00;
    position: relative;
}

.discos {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.discos li {
    width: 270px;
    height: 270px;
    display: inline-block;
    margin: 55px;
    position: relative;
    transition: all ease .2s;
    /* para redondear:
    border-radius: 40px;
    overflow: hidden;*/
    /*pongo position relative a donde quiero que se posicione la cosa que va en position absolute*/
}

.discos li img {
    width: 100%;
    display: block;
}

.discos li .album {
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    /*color: #FFED00;*/
    position: absolute;
    top: 0;
    /*line-height: 270px;
    font-size: 24px;
    font-family: 'News Cycle', sans-serif;
    font-weight: 700;*/
    display: none;
    transition: all ease .2s;
}

.year {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    margin: auto;
    color: #FFED00;
}

.discos li:hover {
    transform: scale(1.1);
}

.discos li:hover .album {
    display: block;
}

.video {
    text-align: center;
    margin-top: 70px;
}

#hello {
    background-image: linear-gradient(#8C7BA5, #F84C54);
    height: 1600px;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin: auto;
    color: #ffffff;
    position: relative;
}

footer {
    height: 60px;
    background: #F6F6F6;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    color: #282828;
    position: relative;
}

.footer-left {
    float: left;
    padding: 12px 0 0px 150px;
}

.footer-right {
    padding: 12px 150px 0px 0px;
    text-align: right;
}

/*
.transform {
    transform: translate(100px, 75px);
    tranform: rotate (45deg);
    transform: scale (2)
    transform: skewX (25deg) translate (100px);
}
*/